#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body{
  background-image: url("/whatsappbackground1.jpg");
}

@font-face {
  font-family: 'MyCustomFont';
  src : url('KodeMono-VariableFont_wght.ttf') format('truetype');
}

*{
  color: white;
  font-family: "MyCustomFont", sans-serif;
}

input, .countryCode{
  padding: 1em;
  border-radius: .5em;
  border: 1px solid green;
  margin: .5em;
  background-color: black;
  color: white;

}
.countryCode{
  width: 6rem;
  outline: none;
  padding-right: 0;
  margin-right: 0;
  border-right: 0;
  border-radius: .5em 0 0 .5em ;
}
.number{
  padding-left: 0;
  border-radius: 0 .5em .5em 0;
  border-left: 0px;
  margin-left: 0;
}
.number:focus, .countryCode:focus{
  outline: none;
}